body {
     color:rgb(126, 132, 207);
     background: rgb(73, 136, 245);
     margin: 0px;
     font-family: "Yarndings 20", system-ui,;
     margin-bottom: 100px;
}

header {
    border-bottom: solid 2xp rgb(121, 171, 237);
    padding: 20px;
    font-size: 32px;
    color: rgb(111, 157, 218);
}
.chamada{
    background: rgb(198, 211, 242);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-text {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}


p{
    font-size: 20px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0. 5;
    height: 2000px;
}

.categoria-videos img:houver{
    opacity: 1.0;
    border: 3px solid rgb(0, 0, 0);
}

.categoria h2{
    color: rgb(170, 206, 253));
}